body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* FORM */
form {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 20px;
}

.field-label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: white;
}

.button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00b5ad;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* TABLE */

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #d9d9d9;
  text-align: left;
}

th {
  background-color: #00b5ad;
  color: white;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.is-warning {
  background-color: #f0ad4e;
  color: white;
}

.is-danger {
  background-color: #d9534f;
  color: white;
}

.table-image {
  width: 20px;
}

.image img {
  width: 140px;
  height: 100px;
}

/* NAVIGATION */
nav {
  background-color: #00b5ad;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

nav li a:hover {
  text-decoration: underline;
}
